
.compliance__button--advantage {
	border-radius: 0 15px 0 0;
}
.compliance__button--compliance {
	border-radius:  15px 0 0 0;
}


@media (max-width: 425px){
	.fa-9x::before {
		font-size: 3rem;
	}
	.fa-responsive-mb {
		font-size: 10px;
	}
}