.u-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.u-green {
  color: var(--color-green);
}

.u-bold {
  font-weight: var(--weight-bold);
  white-space: nowrap;
}

.u-underline {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  text-decoration-thickness: 3px;
}

.u-highlight {
  text-decoration: underline;
}

.u-opacity-1 {
  opacity: 1;
}

.u-opacity-0 {
  opacity: 0;
}

.u-flex {
  display: flex;
}

.u-none {
  display: none;
}
.u-text-center {
  text-align: center;
}
.u-inactive {
  position: relative;

}

.u-inactive::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(45deg,
			rgba(255, 255, 255, 0.2),
			rgba(255, 255, 255, 0.2) 5px,
			transparent 5px,
			transparent 10px);
  pointer-events: none; 
}

.u-lock::before {
  content: "\f023"; 
  font-family: "Font Awesome 6 Free"; 
  font-weight: 900; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color:var(--black);
  z-index: 1;
  pointer-events: none;
}
/* Classe utilitaire pour rendre un élément inactif */
.u-disabled {
  pointer-events: none; 
  opacity: 0.5;
  cursor: not-allowed;
}