/* LINKS */

a {
    color: var(--FONT-COLOR);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition:  background-color 0.5s ease-in-out,text-decoration-color 0.5s ease-in-out, color 0.5s ease-in-out;

}
.link-audit {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-weight: var(--weight-bold);
    border-radius: 30px;
    padding: 10px 30px;
     border: 2px solid transparent;
}
.link-audit:hover,
.nav-mobile__link :hover,
.button {
    color: var(--color-button-active);
    border: 2px solid;
    background-color: var(--color-secondary);
    text-decoration-color: var(--color-primary);

}
a:hover {
    color: var(--color-link-hover);
    outline-offset: 5px;
    text-decoration-color: var(--color-primary);
}
a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
.feature:focus-visible
{
    outline: 5px solid var(--color-link-focus);
    outline-offset: 5px;
     position: relative;  
    z-index: 10;      
}
.carousel__next:focus-visible,
.carousel__prev:focus-visible {
    outline: 5px solid var(--color-link-focus);
    
    z-index: 10;      

}
.carousel__item:focus-visible .item{
outline: 10px solid var(--color-link-focus);
position: relative;  
    z-index: 10;   
    
}
.header__link:focus-visible {
    display: inline-block;
     position: relative;  
    z-index: 10;      
}

.feature:focus {
    border: 2px solid var(--white);
}
a:active {
    color: var(--color-link-active);
    transform: scale(0.98);
}
.question__text {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
}
button {
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}
.active {
	color: var(--white);
	background-color: var(--color-secondary);
}	

.show {
	opacity: 1;
  
}
.hide {
	opacity: 0;
}
