.button-burger{
	display: none;
	justify-self: flex-start;
	align-items: center;
	background-color: var(--color-secondary);
	border: none;
	color: var(--color-text-primary);
}

.button--contact {
	width: fit-content;
	border-radius: 50px;
	padding: 5px 45px;
	font-weight: var(--weight-bold);
	background-color: var(--color-primary);
	border-color: var(--color-shadow);
}
@media (max-width: 450px) {
	.talk__button {
		width: 100%;
		margin-top: 0;
		padding: 0;
	}
}
@media (max-width: 769px) {
	.button-burger {	
		display: flex;
	}
}