.card-price {
	height: 500px;
	width: 350px;
	background-color: var(--color-secondary);
	border-radius: 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: var(--color-text-primary);
	padding: 30px 20px;
}

.card-price__header {
	text-align: center;
	margin-top: 10px;
}

.card-price__notice {
	border-radius: 30px;
	background-color: var(--color-primary);
	position: absolute;
	top: -25px;
	padding: 10px 25px;
	color: var(--color-text-secondary);
	font-weight: var(--weight-bold);
}

.card-price__button {
	border-radius: 10px;
	font-weight: var(--weight-bold);
	padding: 10px 30px;
	background-color: var(--color-primary);
	color: var(--color-secondary);
	border: 2px solid transparent;
	text-decoration: underline;
	text-decoration-color: transparent;
}

.card-price__button:hover {
	background-color: var(--color-secondary);
	color: var(--color-primary);
	border: 2px solid var(--color-primary);
	text-decoration-color: var(--color-primary);
}

.card__list {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media (max-width: 1100px) {
	.table {
		font-size: var(--caption);
	}


}

@media (max-width: 768px) {
	.card-price {
		width: 90%;
	}

}